{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <h1>{{ voting.id }} - {{ voting.name }}</h1>
    <div id="styleDiv">
        <p> {{ voting.desc }} </p>            	 
    </div>

    <div id="login">
        <label for="username">{% trans "Username" %}</label>
        <input type="text" id="username" name="username" value=""/>
        <br/>
        <label for="password">{% trans "Password" %}</label>
        <input type="password" id="password" name="username" value=""/>
        <br/>
        <input type="submit" value="{% trans "Login" %}" onClick="decideLogin()"/>
    </div>
	
    <div id="voting">
        <br/>
    	<div id="styleDiv">
        {% if start_date == None%}
        	<p>La votación no ha empezado aún</p>
        
        {%else%}
        	<p>La votación empezó el: {{ start_date }}</p>
	        
	        {%if end_date == None%}
	        	<p>Aún puede votar, no ha finalizado la votación</p>
	        {% else %}
	        	<p>Ya no puede votar, la votación se cerró el: {{ end_date }}</p>
        	 {% endif %}
        	 
        {% endif %}
        </div>
        <br/>

        <a href="#" onClick="decideLogout()">{% trans "logout" %}</a>
         
        <h2>{{ voting.question.desc }}</h2>
        
        {% comment %} Interfaz de votación Sí/No {% endcomment %}
        {% if voting.question.options|length == 2 %}{% for opt in voting.question.options %}

            <label for="q{{opt.number}}">

            {% if opt.option == 'Si' or opt.option == 'Sí' or opt.option == 'Yes'%}
                <input class="button buttonyes" id="q{{opt.number}}" type="submit" name="question" value="{{opt.option}}" onClick="decideEncryptYesNo(this)"/>
            {% endif %}

            {% if opt.option == 'No'%}
                <input class="button buttonno" id="q{{opt.number}}" type="submit" name="question" value="{{opt.option}}" onClick="decideEncryptYesNo(this)"/>
            {% endif %}

            {% if opt.option != 'Si' and opt.option != 'Sí' and opt.option != 'Yes' and opt.option != 'No'%}
                <input class="button buttonseveral" id="q{{opt.number}}" type="submit" name="question" value="{{opt.option}}" onClick="decideEncryptYesNo(this)"/>
            {% endif %}
            </label>

        {% endfor %}{% endif %}

        {% comment %} Interfaz de votación para varias respuestas {% endcomment %}
        {% if voting.question.options|length != 2 %}{% for opt in voting.question.options %}

            <label for="q{{opt.number}}">
                <input class="button buttonseveral" id="q{{opt.number}}" type="submit" name="question" value="{{opt.option}}" onClick="decideEncryptYesNo(this)"/>
            </label>
            <br/><br/>

        {% endfor %}

        {% endif %}

    </div>
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <script>
        ElGamal.BITS = {{ KEYBITS }};
        var bigpk = {
            p: BigInt.fromJSONObject("{{voting.pub_key.p}}"),
            g: BigInt.fromJSONObject("{{voting.pub_key.g}}"),
            y: BigInt.fromJSONObject("{{voting.pub_key.y}}"),
        };

        var token = null;
        var user = null;

        function postData(url, data) {
          // Default options are marked with *
          var fdata = {
            body: JSON.stringify(data),
            headers: {
              'content-type': 'application/json',
            },
            method: 'POST',
          };

          if (token) {
              fdata.headers['Authorization'] = 'Token ' + token;
          }

          return fetch(url, fdata)
          .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                return Promise.reject(response.statusText);
            }
          });
        }

        function decideEncrypt() {
            var msg = document.querySelector("input[name=question]:checked").value;
            var bigmsg = BigInt.fromJSONObject(msg);
            var cipher = ElGamal.encrypt(bigpk, bigmsg);
            return cipher;
        }

        {% comment %} function decideSend() {
            var v = decideEncrypt();
            var data = {
                vote: {a: v.alpha.toString(), b: v.beta.toString()},
                voting: {{voting.id}},
                voter: user.id,
                token: token
            }
            postData("{{store_url}}" + "/store/", data)
              .then(data => {
                alert("{% trans "Conglatulations. Your vote has been sent" %}")
                console.log(v);
              })
              .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
              });
        } {% endcomment %}

        function decideEncryptYesNo(res) {
            var msg = res.value;
            var bigmsg = BigInt.fromJSONObject(msg);
            var cipher = ElGamal.encrypt(bigpk, bigmsg);
            var data = {
                vote: {a: cipher.alpha.toString(), b: cipher.beta.toString()},
                voting: {{voting.id}},
                voter: user.id,
                token: token
            }
            postData("{{store_url}}" + "/store/", data)
              .then(data => {
                console.log(cipher);
                alertLogOut()
              })
              .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
              });
        }
        
        function alertLogOut(){
        	//Las siguientes dos líneas sirven para desloguearte
            if(confirm("{% trans "Conglatulations. Your vote has been sent" %}. ¿Desea cerrar sesión?"))
            {
            decideLogout()
            }
        }

        function decideLogout() {
            var data = { token: token };
            postData("{{auth_url}}" + "/authentication/logout/", data);

            token = null;
            user = null;
            document.cookie = 'decide=;';
            panel('login');
        }

        function decideUser() {
            var data = { token: token };
            postData("{{auth_url}}" + "/authentication/getuser/", data)
              .then(data => {
                user = data;
                panel('voting');
              }).catch(error => {
                alert("{% trans "Error: " %}" + error);
              });
        }

        function decideLogin() {
            var data = {
                username: document.querySelector("#username").value,
                password: document.querySelector("#password").value,
            };
            postData("{{auth_url}}" + "/authentication/login/", data)
              .then(data => {
                document.cookie = 'decide='+data.token+';';
                token = data.token;
                decideUser();
              })
              .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
              });
        }

        function panel(p) {
            switch(p) {
                case 'login':
                    document.querySelector("#voting").style.display = "none";
                    document.querySelector("#login").style.display = "block";
                    break;
                case 'voting':
                default:
                    document.querySelector("#voting").style.display = "block";
                    document.querySelector("#login").style.display = "none";
                    break;
            };
        }

        function init() {
            panel('login');

            var cookies = document.cookie.split("; ");
            cookies.forEach((c) => {
                var cs = c.split("=");
                if (cs[0] == 'decide' && cs[1]) {
                    token = cs[1];
                    decideUser();
                }
            });
        }

        init();
    </script>
</body>
{% endblock %}
