
.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 60px;
    background-color: grey;
    background-size: 100px;
}

.titulo2{
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal;
    font-size: 40px;
}
 .titulo3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 40px;
 }

.tabla{
    border: 2px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

.titulo_tabla1{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
   /* border: 1px solid grey;
    height: 70px;
    width: 600px;
    background-color: white;
    font-style: normal;
    font-size: 40px; 
} */

.titulo_tabla2{
     padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
    /*
    border: 1px solid grey;
    height: 70px;
    width: 300px;
    background-color: white;
    font-style: normal;
    font-size: 40px;
    */

.valor_tabla{
    border: 1px solid white;
    padding: 15px;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
padding: 20px 80px;
background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
.logo {
font-family: 'Open Sans', sans-serif;
color: #555;
text-decoration: none;
text-transform: uppercase;
font-size: 50px;
font-weight: 800;
letter-spacing: -3px;
line-height: 1;
text-shadow: #EDEDED 3px 2px 0;
position: relative;
text-align: center;
}

.logo:after {
position: absolute;
left: 8px;
top: 32px;
}
.logo:after {
/*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
background-size: 4px 4px;

-webkit-text-fill-color: transparent;
z-index: -5;
display: block;
text-shadow: none;
}
.menu {
width: 1090px;
height: 42px;
list-style: none;
margin: 10px 0 0 0; padding: 25px 10px;
border-top: 4px double #AAA;
border-bottom: 4px double #AAA;
position: relative;
text-align: center;
}
.menu li {
display: inline-block;
width: 173px;
margin: 0 10px;
position: relative;

}
.menu li a {
text-transform: uppercase;
font-family: 'Squada One', cursive;
font-weight: 800;
display: block;
background: #FFF;
padding: 2px 10px;
color: #333;
font-size: 35px;
text-align: center;
text-decoration: none;
position: relative;
z-index: 1;
text-shadow: 
    1px 1px 0px #FFF, 
    2px 2px 0px #999,
    3px 3px 0px #FFF;
background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);

background-image: -webkit-linear-gradient(left top, 
    transparent 0%, transparent 25%, 
    rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
    transparent 50%, transparent 75%, 
    rgba(0,0,0,.15) 75%);
background-size: 4px 4px;
box-shadow: 
    0 0 0 1px rgba(0,0,0,.4) inset, 
    0 0 20px -5px rgba(0,0,0,.4),
    0 0 0px 3px #FFF inset;
}
.menu li:hover {
width: 203px;
margin: 0 -5px;
}
.menu a:hover {
color: #d90075;
}
.menu li:after,
.menu li:before {
content: '';
position: absolute;
width: 50px;
height: 100%;
background: #BBB;
border-radius: 4px;
}
.menu li:after {
background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
right: 0;
top: -4px; 
}
.menu li:before {
left: 0;
bottom: -4px;
background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4CAF50;
    color: white
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers content {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers content:nth-child(even){background-color: #f2f2f2;}

#customers content:hover {background-color: #ddd;}

#customers content {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
