{% load i18n %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
        {% compress css %}
         <link rel="stylesheet" href="/static/css/common.css">
         {% endcompress %}
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block extrabody %}{% endblock %}
    </body>
</html>
